spring:
  application:
    name: banking-system
  
  datasource:
    url: jdbc:postgresql://aws-1-ap-south-1.pooler.supabase.com:6543/postgres?
    username: postgres.eovpequkdxfzkdhrtuuy
    password: "Mukund12n@@"
    driver-class-name: org.postgresql.Driver
   

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

  security:
    jwt:
      secret: ${JWT_SECRET:mySecretKey123456789012345678901234567890}
      expiration: 86400000

server:
  port: 8080
  servlet:
    context-path: /api